@keyframes entry {
  0% {
    opacit: 0;
    top: 35px;
  }
  100% {
    opacty: 1;
    top: 0;
  }
}

.wrapper {
  position: relative;
  background-color: #454858;
  min-width: 60vw;
  max-width: 90vw;
  min-height: 90vh;
  margin: 0 auto;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4.375rem 0;
  animation: entry 0.5s ease-in-out;
  text-align: center;
}

@media (max-width: 450px) {
  .wrapper {
    min-height: 0;
    min-width: 90vw;
    font-size: 2rem;

    .title {
      margin-bottom: 40px;
    }
  }
}
